@import '../../assets/global.css';

.profile-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;

  .profile-title {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 30px auto;
    text-justify: center;
    text-align: center;
    color: var(--main);
  }

  .subtitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--main);
    margin-bottom: 10px;
  }

  .subcontent {
    display: flex;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .info {
    margin-right: 40px;
  }

  .edit {
    cursor: pointer;
    color: var(--main);
  }

  .prof-picture {
    margin-bottom: 20px;
  }

  hr.line {
    width: 30%;
		border-top: 2px solid var(--main);
		margin-bottom: 20px;
  }

  input {
			border: none;
      width: 200px;
			border-bottom: 1px solid var(--dark);
      font-size: 24px;
		}

  button {
			cursor: pointer;
      align-self: center;
			width: 300px;
			height: 40px;
			margin: 20px 0;
			background-color: var(--main);
			color: var(--dark);
			border: none;
			border-radius: 40px;
			font-size: 18px;
			font-weight: 500;
			transition: all 0.15s ease;
		}

		button:hover {
			font-size: 22px;
			transition: all 0.15s ease;
			color: var(--light);
			// background-color: var(--light);
			// border: 2px solid var(--main);
			// color: var(--main);
		}
}