:root {
  --main:#0078aa;
  --secondary: #3ab4f2;
  /* --primary: #0078aa; */
  --light: #f6f6f6;
  --dark: #d4d4d4;
  --placeholder: #ababab;
  --black: #000;
  --text: rgb(31, 31, 31);
  --error: rgb(255, 32, 66);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}