@import '../../assets/global.css';
// @import "./scss-mixins/mixins.scss";

.login {
	// height: 100vh;
	margin-top: 200px;
	display: flex;
	align-items: center;
	justify-content: center;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			color: var(--main);
			margin-bottom: 10px;
		}

		hr.new1 {
			width: 100%;
			border-top: 2px solid var(--main);
			margin-bottom: 20px;
		}

		input {
			border: none;
			border-bottom: 1px solid var(--dark);
			width: 300px;
			height: 40px;
			margin: 10px 0;
		}

		input:focus {
			outline: none;
			// border: 1px solid var(--main);
			border-bottom: 2px solid var(--main);
		}

		button {
			cursor: pointer;
			width: 300px;
			height: 40px;
			margin: 20px 0;
			background-color: var(--main);
			color: var(--dark);
			border: none;
			border-radius: 40px;
			font-size: 18px;
			font-weight: 500;
			transition: all 0.15s ease;
		}

		button:hover {
			font-size: 22px;
			transition: all 0.15s ease;
			color: var(--light);
			// background-color: var(--light);
			// border: 2px solid var(--main);
			// color: var(--main);
		}

		span {
			font: 14px;
			color: var(--error);
		}

		hr.new2 {
			width: 100%;
			border-top: 2px solid var(--main);
			margin: 10px 0;
		}

		.not-a-member {
			font-size: 18px;
			display: flex;
		}

		.login-signup {
			color: var(--main);
			font-weight: 500;
		}

		.login-signup:hover {
			color: var(--secondary);
			font-weight: 500;
		}
	}
}


