@import '../../assets/global.css';

/* .clear-container {
  all: initial;
}

.clear-container {
  all: unset;
} */

.login-signup-container {
  all: unset;
  display: grid;
  grid-template-columns: 70% 30% 70%;
  width: 60%;
  height: 400px;
  background-color: #f5f5f5;
  padding: 0;
  margin: 100px auto 0 auto;
  border: 1px solid #000;
  overflow: hidden;
}
/* 
.login-signup-container:hover {
  all: unset;
} */

.login-signup-container.active {
  /* all: unset; */
  grid-template-columns: 0 30% 70%;
  transition: all 0.3s ease-in-out;
}

.login-signup-container .side-div {
  /* all: unset; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--main);
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.login-signup-container .side-div button {
  /* all: unset; */
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 0.99rem;
  transition: all 0.2s ease-in-out;
}

.login-signup-container .side-div button:hover {
  /* all: unset; */
  background-color: rgb(55, 55, 55);
  border: 1px solid rgb(55, 55, 55);
}