.cat1-full-width{
  flex-basis: 70%;
}
.Latest-topics .topic{
  background-color: #0078aa;
  margin-bottom: 10px;
  padding: 5px;
  /*width:50rem;*/

}
.Latest-topics .topic h3{
  font-weight:normal;
  font-size: 1.3em;
  text-decoration: none;
}

.Latest-topics .topic a{
  text-decoration: none;
  color: white;
}

.Latest-topics .dateSince{
  color: #53f23a;
}