@import '../../assets/global.css';

.search-box {
  display: flex;
  align-items: center;
}

input[type=search] {
  display: flex;
  align-items: center;
  color: var(--black);
  width: 120px;
  height: 40px;
  padding: 5px 5px 5px 30px;
  /* border: 2px solid #fff; */
  font-size: 17px;
  border-radius: 40px;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url('../../assets/search-svgrepo-com.svg');
  background-color: transparent;
  background-color: var(--dark);
  transition: all 0.5s ease-in-out;
  border: 2px solid var(--main);
  /* filter: brightness(170%); */
}

input[type=search]:focus,
input[type=search]:not(:placeholder-shown) {
  width: 400px;
  background-color: #fff;
  border: 2px solid var(--main) !important;
  filter: brightness(100%);
  z-index: -1;
  /* color: var(--main); */
}

@media screen and (max-width: 500px) {
  input[type=search]:focus,
  input[type=search]:not(:placeholder-shown) {
    width: 250px;
  }
}