.tag-container{
    width: 175px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
  .tag-container{
    width: 250px;
    font-size: 16px;
  }
}

/* .container h3{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 15px;
} */
/* .container form{
    width: 200px;
    border-radius: 20px;
} */

/* .container .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
} */

/* .container .input label{
    margin-bottom: 10px;
} */
/* .container input[type=text]{
  color: blueviolet;
    height: 24px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
} */

/* .container .buttons{
    text-align: center;
}

.container .buttons button{
    width: 80%;
    padding: 15px 10px;
    background-color: rgb(79, 160, 59);
    border: 1px solid rgb(31, 71, 34);
    margin:20px 0;
    color: rgb(245, 255, 244);
    font-size: 1rem;
}

.container .buttons button:hover{
    background-color: rgb(54, 153, 30);
} */
