.Home-container{
    padding: 0 20px;
    width:100%;
    border:1px solid black;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    background-color: #d4d4d4;
    justify-content: space-between;
}

.Home-container .Category-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.Home-container .Category-container .cat1{
    /*border: 1px solid red;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.cat1{
    margin-top:5px;
}
.cat1 svg{
    width:50px;
    height: 50px;
    float: left;
}