.Topics-container{
    padding: 0 20px;
    width:100%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    background-color: #d4d4d4;
}

.Topics-container .debug-topic{
    padding: 5px 10px;
}
.Topics-container a{
    text-decoration: none;
    font-weight: normal;
    color: #1d1941;
}
.Topics-container a:hover {
    color: white;
}