@import '../../assets/global.css';

/* header{
  height: 20%;
  min-height: 50px;
} */
.nav-container {
  height: 100%;
  width: 100%;
  background: var(--main);
}

.navbar {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 75px;
  max-width: 1200px;
  margin: auto;
  color: var(--light);
  padding: 0 1rem;
}

.nav-logo {
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
  font-size: 1.8rem;
}

.nav-menu-and-btn {
  display: flex;
  /* justify-content: space-between;
  align-content: top; */
  gap: 1rem;
}

.nav-menu {
  display: flex;
  /* align-items: center; */
  list-style: none;
  gap: 0.5rem;
  transition: left 0.5s ease-in-out;
}

.categories-box {
  margin-top: 9px;
}

.tags-box {
  margin-top: 9px;
}

.nav-menu--all-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu--item {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  background: var(--main);
  /* padding: 0 0.5rem; */
  background: transparent;
  border-radius: 2px;
}

/* .categories-box.show {
  position: fixed;
}

.tags-box.show {
  position: fixed;
} */

.nav-menu.show {
  position: fixed;
  top: 75px;
  left: 0;
  background: var(--main);
}

.nav-menu--item:hover {
  /* background: var(--secondary); */
  border-bottom: 2px solid var(--secondary);
}

.active {
  /* background: var(--secondary); */
  font-weight: 500;
  border-bottom: 2px solid var(--light);
  color: var(--light);
}

.active:hover {
  /* color: var(--main); */
  border-bottom: 2px solid var(--secondary);
}

.toggle-btn {
  display: block;
  font-size: 2rem;
  background: var(--main);
  color: var(--light);
  border: 1px solid transparent;
  border-radius: 2px;
  display: none;
  justify-content: center;
  align-items: center;
}

.toggle-btn:hover {
  cursor: pointer;
  border-color: var(--secondary);
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-login {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  mask-image: url('../../assets/user-login-normal.svg');
  mask-size: 40px;
  mask-repeat: no-repeat;
}

.user-login:hover {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  mask-image: url('../../assets/user-login-normal.svg');
  mask-size: 40px;
  mask-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  /* .navbar {
    padding: 0 0.3rem;
  } */

  /* .nav-menu-and-btn {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-content: center;
  } */

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    line-height: 2rem;
    background: var(--main);
    top: 75px;
    left: -100%;
    width: 100%;
    padding: 1rem 0;
  }

  .nav-menu--all-items {
    display: flex;
    flex-direction: column;
  }

  .nav-menu--item {
    border-bottom: none;
    font-size: 1.6rem;
    line-height: 4rem;
  }

  .nav-menu--item:hover {
    border-bottom: none;
  }

  .active {
    border-bottom: 2px solid var(--secondary);
  }

  .active:hover {
    border-bottom: 2px solid var(--secondary);
  }

  /* .nav-menu.show {
  background: var(--secondary);
  } */

  .toggle-btn {
    display: flex;
  }

  /* .user-avatar {
    display: flex;
  } */
}

@media screen and (max-width: 500px) {
  /* .nav-logo {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--light);
    font-size: 1.4rem;
  } */

  /* .nav-menu-and-btn {
    gap: 0.2rem;
  } */

  /* .toggle-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-self: center;
    align-self: center;
  } */

  /* .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* .user-login {
    margin-left: 20px;
  } */
}

.form {
  display: flex;
}
