.error-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    color: #767676;
}
.error-container h1{
    font-family: sans-serif;
    font-size: 4.3em;
    font-weight: normal;
}

.error-container h2{
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
}