.NAV {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
}

.MAIN {
margin: 75px auto;
padding: 20px;
max-width: 1200px;
}

.second-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 20px;
}