/* .container{
    width: 170px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
  .container{
    width: 250px;
    font-size: 16px;
  }
} */

.category-container-topic {
  all: unset;
  width: 280px;
  margin: 10px;
}

