@import '../../assets/global.css';

.popup-ct {
  /* all: unset; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px) grayscale(50%) brightness(60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:50;
}

.popup-ct-inner {
  /* position: relative; */
  padding: 10px;
  width: 100%;
  max-width: 640px;
  background-color: var(--dark);
  border: 3px solid var(--main);
  border-radius: 8px;
}

/* .form {
  width: 100%;
} */

.topic-title {
  width: 100%;
  height: 60px;
  padding: 10px 5px 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.topic-content {
  width: 100%;
  height: 200px;
  padding: 10px 5px 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  background-color: var(--light);
  resize: none;
}

.topic-category-tag {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.topic-category {
  height: 45px;
  width: 300px;
  padding: 10px 5px 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.topic-tag {
  height: 45px;
  width: 300px;
  padding: 10px 5px 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.buttons {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  padding: 0 20px;
  margin: 0 20px;
  color: var(--main);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: var(--light);
  border: 2px solid var(--main);
  border-radius: 30px;
}

.cancel {
  padding: 0 20px;
  margin: 0 20px;
  color: var(--main);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: var(--light);
  border: 2px solid var(--main);
  border-radius: 30px;
}

.submit:hover {
  color: var(--light);
  background-color: var(--main);
  transition: all 0.15s ease-in-out;
}

.cancel:hover {
  color: var(--light);
  background-color: var(--main);
  transition: all 0.15s ease-in-out;
}

/* input[type='text'] {
  border: 2px solid var(--main);
}

textarea[type='text'] {
  border: 2px solid var(--main);
} */

::placeholder {
  color: #ababab;
}

/* 
@media screen and (max-width: 720px) {
  .topic-category {
    width: 280px;
  }

  .topic-tag {
    width: 280px;
  }
}

@media screen and (max-width: 620px) {
  .topic-category {
    width: 230px;
  }

  .topic-tag {
    width: 230px;
  }
}

@media screen and (max-width: 500px) {
  .topic-category {
    width: 210px;
  }

  .topic-tag {
    width: 210px;
  }
} */
