@import '../../assets/global.css';

.new-topic-place {
  max-width: 1200px;
  display: flex;
  justify-content: right;
  margin: auto;
}

.new-topic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  width: 90px;
  height: 40px;
  background-color: var(--dark);
  border: 2px solid var(--main);
  border-radius: 50px;
}

.new-topic:hover {
  background-color: var(--light);
}

.new-topic i {
  cursor: pointer;
  display: flex;
  color: var(--main);
  font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
  .new-topic {
    margin-left: 20px;
    width: 70px;
  }
}